<div class="success-msg" ng-show="showModal">Thank you for your details!</div>
<div class="blue-bg" min-height>

    <div class="container">
            <img src="img/cloud1.png" class="cloud1 cloud hidden-xs">
            <img src="img/cloud2.png" class="cloud2 cloud hidden-xs">

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="img/tour.png" class="resp-img">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <form class="cloud-form" name="formName" ng-submit="sendEmail(form);">
                        <img src="img/logo.png" alt="My Bucket List" class="logo">
                        <div class="paper-box text-center">
                            <h1 class="color-primary">Busy preparing your
                                <br>
                                personalised bucket list.</h1>
                            <h3>In the meantime, let's get to know each other?</h3>
                            <div class="form-group text-left">
                                <select class="form-control" name="age" ng-model="form.age" ng-options='option.value as option.name for option in typeOptions'>
                                </select>
                            </div>
                            <div class="form-group text-left">
                                <input type="email" name="email" class="form-control" placeholder="Email id" ng-model="form.email">
                            </div>
                            <button class="btn btn-info btn-long uppercase" type="submit" ng-disabled="!form.age && !form.email">Submit</button>
                        </div>
                        <h1 class="text-center color-white">Coming Soon</h1>
                    </form>
                </div>

            </div>
    </div>
</div>
